@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.ken-burns {
  filter: drop-shadow(2 2 5px rgba(0, 0, 0, 0.5));
}

.arrow-container {
  position: absolute;
  top: 50%;
  z-index: 50;
}

.arrow-left {
  position: absolute;
  left: 10px;
  z-index: 51;
}

.arrow-right {
  right: 20px;
}


